<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MyGui.net.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
	<runtime>
		<AppContextSwitchOverrides value="Switch.System.Windows.Forms.DoNotUseLegacyDpiScalingTransforms=true" />
	</runtime>
    <userSettings>
        <MyGui.net.Properties.Settings>
            <setting name="ScrapMechanicPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowWarnings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExportMode" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ShowTypesForNamedWidgets" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WidgetGridSpacing" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="MainWindomMaximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EditorBackgroundImagePath" serializeAs="String">
                <value />
            </setting>
            <setting name="EditorBackgroundColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="EditorBackgroundMode" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ShowFullFilePathInTitle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SaveWindowLayout" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MainWindowPos" serializeAs="String">
                <value>-69420, 0</value>
            </setting>
            <setting name="MainWindowSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MainWindowMonitor" serializeAs="String">
                <value />
            </setting>
            <setting name="SidePanelAttached" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SidePanelPos" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="SidePanelSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="SidePanelMonitor" serializeAs="String">
                <value />
            </setting>
            <setting name="UseCustomWindowLayout" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DefaultWorkspaceSize" serializeAs="String">
                <value>1920, 1080</value>
            </setting>
            <setting name="RenderWidgetNames" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseViewportVSync" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseViewportAntiAliasing" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RenderInvisibleWidgets" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ViewportFilteringLevel" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="UseViewportFontAntiAliasing" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RedrawViewportOnResize" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PixelLayoutSuffix" serializeAs="String">
                <value>_pixels</value>
            </setting>
            <setting name="PreferPixelLayouts" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ReferenceResolution" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ReferenceLanguage" serializeAs="String">
                <value>English</value>
            </setting>
            <setting name="HideSplashScreen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RecentlyOpenedFiles" serializeAs="String">
                <value />
            </setting>
            <setting name="HideOldMyGuiWidgetSkins" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowDebugConsole" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnterAccepts" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SidePanelLayoutAttached" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SidePanelLayoutPos" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="SidePanelLayoutSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="SidePanelLayoutMonitor" serializeAs="String">
                <value />
            </setting>
            <setting name="UpdateBearerToken" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoCheckUpdate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HideOldSMWidgetSkins" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="use9xTheme" serializeAs="String">
                <value>False</value>
            </setting>
        </MyGui.net.Properties.Settings>
    </userSettings>
</configuration>